

/* Add only variables */

/* Color */
$mainBlue: #28B9B5;
$mainRed: #FF5049;
$mainWhite: #D4D8DB;
$inputBackground: #f7f7f7;

/*  Font-Size */
$base_font_size: 1em;

/*  Line-Height */
$base_line_height: 1.5;
$header_line_height: 1.25;
